<html lang="en">
  <head>
    {{>header}}
    {{!-- <script src="./js/login.js"></script> --}}

    <title>Login</title>
  </head>
  <body>
     {{>navbar}}
    <!--Main-->
    <div class="wrapper fadeInDown" style="background-color: blue;">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->

         {{#if messages.error}}
          <span class="registerSpan"><strong>{{messages.error}}</strong></span><br>
        {{/if}}
       
        <h2>Admin Login</h2>

        <!-- Login Form -->
        <form action="/api/users/login" method="POST">
          <input
            type="email"
            id="email"
            class="fadeIn second"
            name="email"
            placeholder="Email"
            value="{{messages.email}}"
          />
          <input
            type="password"
            id="password"
            class="fadeIn third"
            name="password"
            placeholder="Password"
          />
          <button class="fadeIn fourth myBtn">Login</button>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          
          <a class="underlineHover" href="/register">Register Now</a>
        </div>
      </div>
    </div>
  </body>
</html>